<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Plant Vision Rails App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <script src="https://kit.fontawesome.com/2d6399573c.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const fileInput = document.getElementById("seed_file_input");
        const submitButton = document.getElementById("analyze_button");

        fileInput.addEventListener("change", function () {
          submitButton.disabled = !fileInput.files.length;
        });
      });
    </script>

  </body>
</html>
